{% extends "base.html" %}

{% block content %}
<h1 class="mt-5">
    Bases de datos para {{current_user.name}}
</h1>

<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css">
      
    th:tr{
        color: blue;
  
    }
    tr:nth-of-type(2n){
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);
  
    }
  
    td{
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>

<table style="margin-left: 20px;">
    <!-- Table headers -->
        <th>
            <tr style="color: green; ">    
            
            <td>Data Base Name</td>
    </tr>
        </th>
          
    <!-- For loop logic of jinja template -->
    {%for i in range(0, len)%}
      
    <!-- table rows -->
    <tr>
        
        <td>{{bdList[i]}}</td>
      
    {%endfor%}
      
    </tr>
      
    </table>
    &nbsp;
    <div class="form-floating">
        <form action = "{{url_for('postdb')}}" method="post">
            <input type="text" name="newDatabase"  placeholder="New data base name">
            <input type = "submit">
        </form>
    </div>
    &nbsp;
    <div class="form-floating">
        <form action = "{{url_for('deletedb')}}" method="post">
            <input type="text" name="deleteDatabase"  placeholder="Database to delete">
            <input type = "submit">
        </form>
    </div>

    {%endblock %}
