{% extends "base.html" %}

{% block content %}
<!doctype html>
<html>
  <body>
    {% if dbName %}

        <form method="post" action="{{ url_for('addKey') }}">
            <input type="text" name="dbName"  placeholder="Database name">
            <input type="text" name="key"  placeholder="New key">
            <input type="text" name="value"  placeholder="New value">
            <input type="submit" value="Enviar">
        </form>

    {% else %}

        <h2>Key: {{ key }}</h2>
        <h2>Value: {{ value }}</h2>

    {% endif %}
  </body>
</html>
{% endblock %}