{% extends "base.html" %}

{% block content %}
<!doctype html>
<html>
  <body>
    {% if not result %}
      <form method="post" action="{{ url_for('mrStatus') }}">
        <div class="field">
            <div class="control">
                <input type="text" name="dbName" placeholder="Database" >
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input type="text" name="mrID" placeholder="mrID" >
            </div>
        </div>

        <input type="submit" value="Enviar">
      </form>
      {% else %}
      <h2>{{ result }}</h2>
      
      {% endif %}
  </body>
</html>
{% endblock %}