{% extends "base.html" %}

{% block content %}
<!doctype html>
<html>
  <body>
    {% if not dbName %}

        <form method="post" action="{{ url_for('showDatabase') }}">
            <input type="text" name="DatabaseName"  placeholder="Database name">
            <input type="submit" value="Enviar">
        </form>

    {% else %}

        <h1>Contenido de la base de datos {{ dbName }}</h1>
        <textarea rows="20" cols="50" readonly>{{ databaseContent }}</textarea>
    {% endif %}
  </body>
</html>
{% endblock %}